<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="passwordForm">
        <div class="row">
            <div>
                <label>User Name</label>
                <mat-form-field class="w-100" appearance="fill" placeholder="Survey Name">
                    <input matInput formControlName="userName" />
                    <mat-label>User Name</mat-label>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <label>Password</label>
                <mat-form-field class="w-100" appearance="fill" placeholder="Password">
                    <input matInput formControlName="password" />
                    <mat-label>Password</mat-label>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <label>Category</label>
                <mat-form-field class="w-100" appearance="fill" placeholder="Category">
                    <input matInput formControlName="category" />
                    <mat-label>Category</mat-label>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <label>Application</label>
                <mat-form-field class="w-100" appearance="fill" placeholder="Application">
                    <input matInput formControlName="app" />
                    <mat-label>Application</mat-label>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="SavePassword(passwordForm.value)">Save</button>
</div>